* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("./image/platéia.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

header h1 {
    color: #999;
    text-align: center;
    padding-bottom: 20px;
}

header div h2 {
    color: #555;
    text-align: center;
}

header div {
    padding: 30px 100px;
    border-radius: 10px;
    background-color: #080808;
    animation-name: tranz;
    position: relative;
    animation-duration: 1.5s;
}

.topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 10px 20px;
}

.topnav a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 4px;
}

.box {
    padding-right: 90px;
}

.topnav a:hover {
    background-color: #f1f1f1;
    color: #000000;
}

.chester {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
}

.box2 {
    display: flex;
    background-color: #080808;
    padding: 20px;
    padding-right: 250px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

.albuns div {
    position: absolute;
}

.albuns div:hover {
    transition-duration: 0.5s;
}


.sla1:hover {
    bottom: 280px;
}

.sla2:hover {
    bottom: 220px;
}

.sla3:hover {
    bottom: 160px;
}

.sla4:hover {
    bottom: 100px;
}


.sla1 {
    bottom: 230px;
}

.sla2 {
    bottom: 170px;
}

.sla3 {
    bottom: 110px;
}

.sla4 {
    bottom: 50px;
}
footer{
    color: #f1f1f1;
}